---
import AboutHeroImage from '../assets/cover.png';
import Layout from '../layouts/Layout.astro';
---

<style>
  .cover-image {
    display: block;
    margin: auto;
    max-width: 250px;
  }
</style>

<Layout
  title="À propos"
  description="À propos du podcast Les Contes du Fond du Jardin"
>
  <h2>À propos</h2>
  <img src={AboutHeroImage.src} alt="À propos du podcast" class="cover-image" />
  <p><strong>Petites histoires pour oreilles grandes ouvertes</strong></p>
  <p>
    Les Contes du Fond du Jardin est un podcast d'histoires destiné aux enfants
    mais qui ambitionne de captiver aussi les adultes. Chaque épisode propose
    une lecture d'album jeunesse, ou une histoire originale, accompagnée de
    musiques et d'effets sonores.
  </p>
  <p>
    Que vous soyez à la recherche d'une histoire pour endormir vos enfants, d'un
    moment de détente pour vous-même, ou simplement curieux de découvrir de
    nouvelles histoires, Les Contes du Fond du Jardin sont fait pour vous.
  </p>
  <p>
    Pour plus d'informations sur le podcast,
    <br />vous pouvez contacter son créateur&nbsp;:
    <a href="https://clemlatz.dev/contact">Clément Latzarus</a>.
  </p>
  <div class="cover-image"></div>
  <p></p>
</Layout>
