---
import AboutHeroImage from '../assets/cover.png';
import Layout from '../layouts/Layout.astro';
---

<style>
  .cover-image {
    display: block;
    margin: auto;
    max-width: 250px;
  }
</style>

<Layout
  title="À propos"
  description="À propos du podcast Les Contes du Fond du Jardin"
>
  <h2>À propos</h2>
  <img src={AboutHeroImage.src} alt="À propos du podcast" class="cover-image" />
  <p><strong>Petites histoires pour oreilles grandes ouvertes</strong></p>
  <p>
    Les Contes du Fond du Jardin est un podcast d'histoires destiné aux enfants
    mais qui ambitionne de captiver aussi les adultes. Chaque épisode propose
    une lecture d'album jeunesse, ou une histoire originale, accompagnée de
    musiques et d'effets sonores.
  </p>
  <p>
    Que vous soyez à la recherche d'une histoire pour endormir vos enfants, d'un
    moment de détente pour vous-même, ou simplement curieux de découvrir de
    nouvelles histoires, Les Contes du Fond du Jardin sont fait pour vous.
  </p>

  <h3>Ce podcast est-il adapté à l'âge de mon enfant ?</h3>
  <p>
    Les histoires de ce podcast se veulent adapté à tous les âges, enfants comme
    adultes. Parce que chaque enfant est différent et réagit à sa manière aux
    histoires, j'ai préféré ne pas indiquer d'âge. En cas de doute, je vous
    invite à écouter l'épisode vous-même, et à l'écouter avec lui pour pouvoir
    en discuter ensemble.
  </p>
  <hr />
  <p>
    Pour plus d'informations sur le podcast,
    <br />vous pouvez contacter son créateur&nbsp;:
    <a href="https://clemlatz.dev/contact">Clément Latzarus</a>.
  </p>
  <div class="cover-image"></div>
  <p></p>
</Layout>
