---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
  <h1 class="site-title"><a href="/">{SITE_TITLE}</a></h1>
  <nav>
    <div class="internal-links">
      <HeaderLink href="/">Épisodes</HeaderLink>
      <HeaderLink href="/s-abonner">S'abonner</HeaderLink>
      <HeaderLink href="/about">À propos</HeaderLink>
    </div>
    <div class="social-links">
      <a href="/rss.xml">
        <img src="/icons/rss.svg" width="48" />
      </a>
    </div>
  </nav>
</header>

<style>
  header {
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    border-radius: 16px;
    padding: 0 1em;
    margin: auto;
    max-width: 768px;
  }

  .site-title {
    padding: 48px 0 16px;
    font-size: 2.5em;
    text-align: center;
  }

  .site-title a,
  .site-title a.active {
    color: black;
    text-decoration: none;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }

  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }

  .social-links,
  .social-links a {
    display: flex;
  }

  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
