---

---

<style>
  .social-links {
    display: flex;
    gap: 8px;
  }

  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>

<div class="social-links">
  <a
    href="https://podcasts.apple.com/fr/podcast/les-contes-du-fond-du-jardin/id1837257752"
    aria-label="S'abonner via Apple Podcasts"
  >
    <img
      src="/icons/apple-podcasts.svg"
      alt=""
      role="presentation"
      width="32"
    />
  </a>
  <a
    href="https://open.spotify.com/show/0iwn11FgB5NZ8FknidtcSO"
    aria-label="S'abonner via Spotify"
  >
    <img src="/icons/spotify.svg" alt="" role="presentation" width="32" />
  </a>
  <a href="/rss.xml" aria-label="S'abonner via RSS">
    <img src="/icons/rss.svg" alt="" role="presentation" width="32" />
  </a>
</div>
